body {
  margin: 0px;
  font-family: Lato, sans-serif;
}

#sidebar {
  background-color: #4D394B;
  width: 220px;
  height: 826px;
}

#client {
  display: flex;
}

#team {
  height: 61px;
  padding: 10px 16px 0px 16px;
  box-sizing: border-box;
}

#team:hover {
  background-color: #3E313C;
  cursor: pointer;
}

#team:hover div {
  color: white;
}

#team-name {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
}

#current-user {
  display: flex;
  margin-top: 2px;
}

#current-user-name {
  font-size: 14px;
  font-weight: 300;
  color: #AB9BA9;

}

#active-icon {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 2px;
}

#online {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background-color: #4c9689;
}

#offline {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   border: 2px solid #7C6A7A;
}

#chats {
  margin-top: 10px;
}

#channels {
  margin-bottom: 32px;
}

#channel-title {
  font-size: 12px;
  font-weight: 500;
  color: #AB9BA9;
  display: flex;
  margin: 0px 16px 1px 16px;
}

#channel-title:hover {
  color: #fff;
  cursor: pointer;
}

#channel-title:hover div {
  color: #AB9BA9;
}

#channel-count {
  color: #7C6A7A;
  padding-left: 2px;
}

#channel-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  font-size: 16px;
  color: #AB9BA9;
  font-weight: 300;
}

#channel {
  padding: 2.7px 0px 2.7px 20px;
  margin-right: 16px;
}

#channel:hover {
  background-color: #3E313C;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

#messages-title {
  font-size: 12px;
  font-weight: 500;
  color: #AB9BA9;
  display: flex;
  margin: 0px 16px 1px 16px;
}

#messages-title:hover {
  color: #fff;
  cursor: pointer;
}

#messages {
  margin-top: 16px;
}

#messages-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  color: #AB9BA9;
}

#message {
  padding: 2.7px 0px 2.7px 20px;
  margin-right: 16px;
  display: flex;
}

#message:hover {
  background-color: #3E313C;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

/*main container below*/
#main {
  flex: auto;
  margin: 0px;
  box-sizing: border-box;

}

#header {
  height: 62px;
  border-bottom: 1px solid #E8E8E8;
}

#header-content {
  padding: 11.2px 0px 0px 20.8px;
}

#main-title {
  font-weight: 800;
  color: #2C2D30;
  font-size: 18px;
}

#channel-attributes {
  font-size: 13px;
  font-weight: 300;
  color: #717274;
}

#footer {
  position:fixed;
  bottom: 0px;
  height: 64px;
  width: calc(100% - 220px);
  background-color: white;
}

#message-input-holder {
  box-sizing: border-box;
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
}

#message-input {
  border: 2px solid #E0E0E0;
  color: #3D3C40;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  padding-left: 5px;
  outline-width: 0;
}

#message-input:focus {
  border: 2px solid #bbbdbf;
}

#chats {
  list-style: none;
  padding-left: 0;
  overflow: auto;
  height: 700px;
}

#chat-item {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
}

#chat-item:hover {
  background-color: #F9F9F9;
}

#pic-holder {
  margin: 0px 10px 0px 20px;
}

#chat-content {
  color: #2C2D30;
}

#chat-info {
  display: flex;
}

#chat-sender {
  font-weight: 800;
  margin-right: 4px;
}

#chat-sender:hover {
  text-decoration: underline;
  cursor: pointer;
}

#chat-time {
  font-weight: 300;
  color: #9e9ea6;
  font-size: 12px;
  vertical-align: bottom;
  display: block;
  line-height: 19px;
}

#chat-time:hover {
  text-decoration: underline;
  cursor: pointer;
}

#chat-body{

}
